<%- include('ek/header', {bot, user, path}) %>
<div class="top">
<div class="container is-fullhd " bgcolor="white">
<br>
 <form method="post">
	<h3>
   Doğrulama Talebi
   </h3>
   
   <div align="center" class="botekle" style="color:black; font-size:20px;">
<br>
               <h3 style="color: red;">Emin misiniz ?</h3>
     <br><br>
				<div style="width: 100%; text-align: center; margin-top: 20px;">
        <button class="btn btn-danger" type="sumbit">Evet</button>
      <br>
				
          
          <br>
          <br>
				</div>
   </div>
			</form>
		</div>
<% include ek/footer %>
  
</div>
